.cart {
	position: relative;
	display: inline-block;
	margin-left: auto;
	padding-right: 2rem;
	height: 40px;

	.counter {
		text-align: center;
		font-family: sans-serif;
		position: relative;
		background-color: red;
		color: #fff;
		height: 20px;
		width: 30px;
		border-radius: 2rem;
		bottom: 20%;
		right: 15%;
	}
}
