.header {
	display: flex;
	flex-direction: row;
	height: 10vh;
	align-items: center;
	margin: 0 10vw 0 10vw;
	border-bottom: 0.5px solid rgba(190, 190, 190, 0.479);
	padding-bottom: 20px;

	.logo {
		height: 25px;
		margin-right: 75px;
	}

	.link {
		padding: 20px;
		text-decoration: none;
		color: #000;
	}

	.cart {
		margin-left: auto;
		height: 30px;
		padding: 50px;
		cursor: pointer;
	}

	.profile-picture {
		height: 3vw;
		cursor: pointer;
	}
}
