:root {
	--Orange: hsl(26, 100%, 55%);
	--Paleorange: hsl(25, 100%, 94%);
}

html {
	font-family: 'Kumbh Sans', sans-serif;
	margin: 0;
	min-height: 100vh;
}

body {
	margin: 0;
	padding: 0;
	min-height: 100vh;
}
